.chatting {
    position: relative;
    z-index: 1;
    width: 400px;
    margin: 30px;
}

.chat-area {
    padding: 30px;
    width: 400px;
    min-height: 100px;
    border: none;
    background-color: #eee;
    resize: none;
    border-radius: 10px;
}

.chat-design {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 4px;
    transform: translateX(50%);
    border-right: solid 25px transparent;
    border-bottom: solid 25px #eee ;
    border-left: solid 25px transparent;
}